<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Home Simple Style - Dragonfly</title>
        <meta name="description" content="YOUR DESCRIPTION HERE" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <!-- Begin all stylesheet required for template-->
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/owl.theme.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css"/>
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-multiselect.css"/>
        <link rel="stylesheet" type="text/css" href="assets/css/screen.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/colors.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/custom.css" />
        <!-- End all stylesheet required for template-->
    </head>
    <body class="home-template simple-style pattern">
        <!--[if lt IE 9]>
        <div class="outdated-frame">
            You are using an <strong>outdated</strong> browser. Please <a href="http://www.google.com/chrome/intl/en/landing_chrome.html">upgrade your browser</a>.
        </div>
        <![endif]-->
        <div class="main-wrap">
            <!-- Begin of More detail button-->
            <a id="more-info" href="javascript:;">
                <span>
                    <i class="fa fa-plus"></i> <!-- You can change icon here-->
                </span>
            </a>
            <!-- End of more detail button-->

            <!-- Begin More info sidebar-->
            <aside id="more-info-sidebar">
                <!-- Begin Recent Post Widget-->
                <div class="widget">
                    <h3 class="widget-title">
                        Recent Posts <!-- Change widget title here-->
                    </h3>
                    <div class="widget-content">
                        <div class="recent-post">
                            <ul class="feedList static">
                                <!-- Begin of one recent post item-->
                                <li class="clearfix">
                                    <span class="itemDate">
                                        <span class="date">
                                            12 <!-- Change publish day here-->
                                        </span>
                                        <span class="month">
                                            Dec <!-- Change publish month here-->
                                        </span>
                                    </span>
                                    <span class="itemContent">
                                        <span class="title">
                                            <!-- Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                Just a Blogging Platform <!-- Change post title here-->
                                            </a>
                                        </span>
                                        <span class="desc">
                                            Ghost is a platform dedicated to one thing: Publi ... <!-- Change description text here-->
                                            <!-- Begin of view more button
                                                    - Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                View » <!-- Change button text here-->
                                            </a>
                                            <!-- End of view more button-->
                                        </span>
                                    </span>
                                </li>
                                <!-- End of one recent post item-->
                                <!-- Begin of one recent post item-->
                                <li class="clearfix">
                                    <span class="itemDate">
                                        <span class="date">
                                            12 <!-- Change publish day here-->
                                        </span>
                                        <span class="month">
                                            Dec <!-- Change publish month here-->
                                        </span>
                                    </span>
                                    <span class="itemContent">
                                        <span class="title">
                                            <!-- Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                About Dragonfly  <!-- Change post title here-->
                                            </a>
                                        </span>
                                        <span class="desc">
                                            A dragonfly is an insect belonging to the order O ...<!-- Change description text here-->
                                            <!-- Begin of view more button
                                                    - Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                View »<!-- Change button text here-->
                                            </a>
                                            <!-- End of view more button-->
                                        </span>
                                    </span>
                                </li>
                                <!-- End of one recent post item-->
                                <!-- Begin of one recent post item-->
                                <li class="clearfix">
                                    <span class="itemDate">
                                        <span class="date">
                                            11 <!-- Change publish day here-->
                                        </span>
                                        <span class="month">
                                            Dec <!-- Change publish month here-->
                                        </span>
                                    </span>
                                    <span class="itemContent">
                                        <span class="title">
                                            <!-- Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                300 rise of an empire trailer 2013 <!-- Change post title here-->
                                            </a>
                                        </span>
                                        <span class="desc">
                                            Lorem ipsum dolor sit amet, consectetur adipiscin ...<!-- Change description text here-->
                                            <!-- Begin of view more button
                                                    - Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                View »<!-- Change button text here-->
                                            </a>
                                            <!-- End of view more button-->
                                        </span>
                                    </span>
                                </li>
                                <!-- End of one recent post item-->
                                <!-- Begin of one recent post item-->
                                <li class="clearfix">
                                    <span class="itemDate">
                                        <span class="date">
                                            10 <!-- Change publish day here-->
                                        </span>
                                        <span class="month">
                                            Dec <!-- Change publish month here-->
                                        </span>
                                    </span>
                                    <span class="itemContent">
                                        <span class="title">
                                            <!-- Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                Dragonfly Theme Shortcodes <!-- Change post title here-->
                                            </a>
                                        </span>
                                        <span class="desc">
                                            Lorem ipsum dolor sit amet, consectetur adipiscin ...<!-- Change description text here-->
                                            <!-- Begin of view more button
                                                    - Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                View »<!-- Change button text here-->
                                            </a>
                                            <!-- End of view more button-->
                                        </span>
                                    </span>
                                </li>
                                <!-- End of one recent post item-->
                                <!-- Begin of one recent post item-->
                                <li class="clearfix">
                                    <span class="itemDate">
                                        <span class="date">
                                            10 <!-- Change publish day here-->
                                        </span>
                                        <span class="month">
                                            Dec <!-- Change publish month here-->
                                        </span>
                                    </span>
                                    <span class="itemContent">
                                        <span class="title">
                                            <!-- Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                Dragonfly Theme Features <!-- Change post title here-->
                                            </a>
                                        </span>
                                        <span class="desc">
                                            Lorem ipsum dolor sit amet, consectetur adipiscin ...<!-- Change description text here-->
                                            <!-- Begin of view more button
                                                    - Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                View »<!-- Change button text here-->
                                            </a>
                                            <!-- End of view more button-->
                                        </span>
                                    </span>
                                </li>
                                <!-- End of one recent post item-->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Recent Post Widget-->
                <!-- Begin Flickr Stream Widget-->
                <div class="widget">
                    <h3 class="widget-title">Flickr Stream</h3>
                    <div class="widget-content">
                        <ul class="flickr-feed" data-mode="gallery" data-size="12" data-popup-preview="true">
                        </ul>
                    </div>
                </div>
                <!-- End Flickr Stream Widget-->
                <!-- Begin Tweet Widget-->
                <div class="widget">
                    <div class="widget-content twitter">
                        <a class="twitter-timeline" href="https://twitter.com/SunflowerTheme" data-widget-id="409933315160829952">Tweets by @SunflowerTheme</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                </div>
                <!-- End Tweet Widget-->
            </aside>
            <!-- End More info sidebar-->

            <!-- Begin Main sidebar-->
            <aside id="main-sidebar" class="covered">
                <!-- Begin of logo-->
                <div class="logo-container">
                    <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                    <a class="logo" href="index.html">
                        <!-- Change src="LINK_TO_LOGO_IMAGE"-->
                        <img src="assets/img/logo.png" alt="Dragonfly" title="Dragonfly"/>
                    </a>
                </div>
                <!-- End of logo-->
                <!-- Begin of mobile menu button-->
                <a id="mobile-menu" class="btn btn-theme collapsed" data-toggle="collapse" data-target=".bottom-nav">
                    <span>
                        Navigation <!-- You can change text of mobile menu button here-->
                    </span>
                    <i class="fa fa-tasks"></i> <!-- Also you can change icon if mobile menu button here-->
                </a>
                <!-- End of mobile menu button-->
                <!-- Begin intro text-->
                <div class="intro">
                    <h5>I am A</h5>
                    <div class="group">
                        <h2>Elegant</h2>
                        <h3>Html Template</h3>
                    </div>
                    <h4>For Your Site</h4>
                    <p>
                        You're in! Nice. We've put together a little post to introduce you to the Ghost editor and get you started. Go ahead and edit this post to get going and learn how it all works! Getting Started Writing in markdown is really easy.
                    </p>
                </div>
                <!-- End intro text-->
                <!-- Begin menu -->
                <ul class="bottom-nav collapse navbar-collapse">
                    <!-- Begin of one menu item-->
                    <li>
                        <!--
                            1. Change href="#ID_OF_POPUP_CONTENT" if you want to display content on popup
                            2. Change href="URL_OF_PAGE_YOU_TO_LINK" and change class="btn btn-theme content-popup" to class="btn btn-theme content-popup-ajax" If you want to display page content on Popup
                            3. Change href="URL_OF_PAGE_YOU_TO_LINK" and change class="btn btn-theme content-popup" to class="btn btn-theme" If you want to display page content on standard page
                        -->
                        <a href="#about-us" class="btn btn-theme content-popup">
                            About <!-- Change text of menu item here-->
                        </a>
                    </li>
                    <!-- End of one menu item-->
                    <!-- Begin of one menu item-->
                    <li>
                        <!--
                            1. Change href="#ID_OF_POPUP_CONTENT" if you want to display content on popup
                            2. Change href="URL_OF_PAGE_YOU_TO_LINK" and change class="btn btn-theme content-popup" to class="btn btn-theme content-popup-ajax" If you want to display page content on Popup
                            3. Change href="URL_OF_PAGE_YOU_TO_LINK" and change class="btn btn-theme content-popup" to class="btn btn-theme" If you want to display page content on standard page
                        -->
                        <a href="#contact-us" class="btn btn-theme content-popup">
                            Contact Us <!-- Change text of menu item here-->
                        </a>
                    </li>
                    <!-- End of one menu item-->
                    <!-- Begin of one menu item-->
                    <li>
                        <!--
                            1. Change href="#ID_OF_POPUP_CONTENT" if you want to display content on popup
                            2. Change href="URL_OF_PAGE_YOU_TO_LINK" and change class="btn btn-theme content-popup" to class="btn btn-theme content-popup-ajax" If you want to display page content on Popup
                            3. Change href="URL_OF_PAGE_YOU_TO_LINK" and change class="btn btn-theme content-popup" to class="btn btn-theme" If you want to display page content on standard page
                        -->
                        <a href="#newsletter" class="btn btn-theme content-popup">
                            Newsletter <!-- Change text of menu item here-->
                        </a>
                    </li>
                    <!-- End of one menu item-->
                </ul>
                <!-- End menu -->
                <!-- Begin of social icons area-->
                <div class="bottom-social">
                    <ul class="social">
                        <!-- Begin of icon
                            - Change class="TYPE_OF_SOCIAL_ICON"
                        -->
                        <li class="twitter">
                            <!-- Change href="LINK_TO_YOUR_SOCIAL_ICON"-->
                            <a href="#" target="_blank" title="Twitter">
                                <i class="fa fa-twitter"></i> <!-- Change social icon here-->
                            </a>
                        </li>
                        <!-- End of icon-->
                        <!-- Begin of icon
                            - Change class="TYPE_OF_SOCIAL_ICON"
                        -->
                        <li class="facebook">
                            <!-- Change href="LINK_TO_YOUR_SOCIAL_ICON"-->
                            <a href="#" target="_blank" title="Facebook">
                                <i class="fa fa-facebook"></i> <!-- Change social icon here-->
                            </a>
                        </li>
                        <!-- End of icon-->

                        <!-- Begin of icon
                            - Change class="TYPE_OF_SOCIAL_ICON"
                        -->
                        <li class="google">
                            <!-- Change href="LINK_TO_YOUR_SOCIAL_ICON"-->
                            <a href="#" target="_blank" title="Google">
                                <i class="fa fa-google-plus"></i> <!-- Change social icon here-->
                            </a>
                        </li>
                        <!-- End of icon-->

                        <!-- Begin of icon
                            - Change class="TYPE_OF_SOCIAL_ICON"
                        -->
                        <li class="linkedin">
                            <!-- Change href="LINK_TO_YOUR_SOCIAL_ICON"-->
                            <a href="#" target="_blank" title="Linkedin">
                                <i class="fa fa-linkedin"></i> <!-- Change social icon here-->
                            </a>
                        </li>
                        <!-- End of icon-->

                        <!-- Begin of icon
                            - Change class="TYPE_OF_SOCIAL_ICON"
                        -->
                        <li class="skype">
                            <!-- Change href="LINK_TO_YOUR_SOCIAL_ICON"-->
                            <a href="#" target="_blank" title="Skype">
                                <i class="fa fa-skype"></i> <!-- Change social icon here-->
                            </a>
                        </li>
                        <!-- End of icon-->

                        <!-- Begin of icon
                            - Change class="TYPE_OF_SOCIAL_ICON"
                        -->
                        <li class="rss">
                            <!-- Change href="LINK_TO_YOUR_SOCIAL_ICON"-->
                            <a href="/rss/" target="_blank" title="Rss Feed">
                                <i class="fa fa-rss"></i> <!-- Change social icon here-->
                            </a>
                        </li>
                        <!-- End of icon-->
                    </ul>
                </div>
                <!-- End of social icons area-->
                <!-- Begin of copyright area-->
                <div class="copyright">
                    Copyright &copy; 2014
                    <a href="/">Dragonfly</a>
                    <br/>
                    All rights reserved.
                </div>
                <!-- End of copyright area-->
            </aside>
            <!-- End Main sidebar-->
            <div id="main-content">
                <main class="body-content" role="main">
                    <div id="isotope-content">
                        <!-- Begin post item
                                - Keep class="item-list post" for each post item
                                - Add featured to class if this post is feature
                        -->
                        <div class="item-list post featured">
                            <!-- Keep class="wrap"
                                    - Add post type after wrap, example: photo-->
                            <div class="wrap photo">
                                <h2 class="post-title">
                                    <!-- Change href="LINK_TO_POST_DETAIL_PAGE"-->
                                    <a href="post-single-default.html">
                                        Dragonfly Template Features <!-- Change post title here-->
                                    </a>
                                </h2>
                                <div class="post-media">
                                    <!-- Image thumbnail for post
                                            - Change src="LINK_TO_POST_IMAGE"
                                    -->
                                    <img src="assets/img/post-demo.gif" alt="Ghost" class="img-responsive">
                                    <div class="mask">
                                        <!-- Quick preview popup for your image thumbnail, change src="LINK_TO_YOUR_IMAGE"-->
                                        <a class="preview magnific-popup-image" href="assets/img/post-demo.gif">
                                            <i class="fa fa-search"></i>
                                        </a>
                                        <!-- Link to post detail page, change href="LINK_TO_POST_DETAIL_PAGE"-->
                                        <a class="detail" href="post-single-default.html">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="post-excerpt">
                                    <!-- Change post description here-->
                                    Ghost is a platform dedicated to one thing: Publishing. It's beautifully designed, completely customisable and completely Open Source. Ghost allows you to write and publish your own blog, giving you the tools to make it easy and even fun to do. It's simple, elegant, and designed so that you can ...
                                    <!-- Link to post detail page, change href="LINK_TO_POST_DETAIL_PAGE"-->
                                    <a class="read-more" href="post-single-default.html">
                                        Read more » <!-- Also you can change text for read more button here-->
                                    </a>
                                </div>
                                <div class="post-meta clearfix">
                                    <span class="time pull-left">
                                        <i class="fa fa-calendar"></i> 12 days ago <!-- Change publish date here-->
                                    </span>
                                    <span class="comment pull-right">
                                        <i class="fa fa-comments-o"></i>
                                        <span>
                                            0 comment <!-- Change comment count here-->
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- End of post item-->
                        <!-- Begin post item
                                - Keep class="item-list post" for each post item
                                - Add featured to class if this post is feature
                        -->
                        <div class="item-list post">
                            <!-- Keep class="wrap"
                                    - Add post type after wrap, example: quote-->
                            <div class="wrap quote">
                                <div class="post-excerpt">
                                    <blockquote>
                                        <p>
                                            Simple can be harder than complex: You have to work hard to get your thinking clean to make it simple. But it’s worth it in the end because once you get there, you can move mountains. you get there, you can move <!-- Change quote content here-->
                                        </p>
                                    </blockquote>
                                    <cite>
                                        Steve Jobs <!-- Change author name here-->
                                    </cite>
                                </div>
                            </div>
                        </div>
                        <!-- End post item-->
                        <!-- Begin post item
                                - Keep class="item-list post" for each post item
                                - Add featured to class if this post is feature
                        -->
                        <div class="item-list post">
                            <!-- Keep class="wrap"
                                    - Add post type after wrap, example: gallery-->
                            <div class="wrap gallery">
                                <h2 class="post-title">
                                    <!-- Change href="LINK_TO_POST_DETAIL_PAGE"-->
                                    <a href="#">
                                        I'm gallery post format <!-- Change post title here-->
                                    </a>
                                </h2>
                                <div class="post-media">
                                    <!-- Begin gallery thumbnail-->
                                    <div class="owl-slider owl-carousel slider thumb-slider"
                                        data-navigation="true"
                                        data-pagination="true"
                                        data-autoPlay="true"
                                        data-stopOnHover="true">
                                        <!-- Begin of one gallery item-->
                                        <div class="item">
                                            <!-- Change src="LINK_TO_POST_THUMBNAIL_IMAGE"-->
                                            <img class="img-responsive" src="assets/img/post-demo.gif" alt="Post title here"/>
                                        </div>
                                        <!-- End of one gallery item-->
                                        <!-- Begin of one gallery item-->
                                        <div class="item">
                                            <!-- Change src="LINK_TO_POST_THUMBNAIL_IMAGE"-->
                                            <img class="img-responsive" src="assets/img/post-demo.gif" alt="Post title here"/>
                                        </div>
                                        <!-- End of one gallery item-->
                                        <!-- Begin of one gallery item-->
                                        <div class="item">
                                            <!-- Change src="LINK_TO_POST_THUMBNAIL_IMAGE"-->
                                            <img class="img-responsive" src="assets/img/post-demo.gif" alt="Post title here"/>
                                        </div>
                                        <!-- End of one gallery item-->
                                    </div>
                                    <!-- End gallery thumbnail-->
                                </div>
                                <div class="post-excerpt">
                                    <!-- Change post description here-->
                                    A dragonfly is an insect belonging to the order Odonata, the suborder Epiprocta or, in the strict sense, the infraorder Anisoptera (from Greek ανισος anisos, "uneven" + πτερος pteros, "wings", because the hindwing is broader than the forewing). It is characterized by large multifaceted eyes, two pairs of strong transparent wings, and an ...
                                    <!-- Link to post detail page, change href="LINK_TO_POST_DETAIL_PAGE"-->
                                    <a class="read-more" href="#">
                                        Read more » <!-- Also you can change text for read more button here-->
                                    </a>
                                </div>
                                <div class="post-meta clearfix">
                                    <span class="time pull-left">
                                        <i class="fa fa-calendar"></i> 12 days ago <!-- Change publish date here-->
                                    </span>
                                    <span class="comment pull-right">
                                        <i class="fa fa-comments-o"></i>
                                        <span>
                                            0 comment <!-- Change comment count here-->
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- End post item-->
                        <!-- Begin post item
                                - Keep class="item-list post" for each post item
                                - Add featured to class if this post is feature
                        -->
                        <div class="item-list post featured">
                            <!-- Keep class="wrap"
                                    - Add post type after wrap, example: video-->
                            <div class="wrap video">
                                <h2 class="post-title">
                                    <!-- Change href="LINK_TO_POST_DETAIL_PAGE"-->
                                    <a href="#">
                                        I'm youtube video post format <!-- Change post title here-->
                                    </a>
                                </h2>
                                <div class="post-media">
                                    <!-- Change your video embed here-->
                                    <iframe width="560" height="315" src="//www.youtube.com/embed/W3Br6jbJxBU"></iframe>
                                </div>
                                <div class="post-excerpt">
                                    <!-- Change post description here-->
                                    A dragonfly is an insect belonging to the order Odonata, the suborder Epiprocta or, in the strict sense, the infraorder Anisoptera (from Greek ανισος anisos, "uneven" + πτερος pteros, "wings", because the hindwing is broader than the forewing). It is characterized by large multifaceted eyes, two pairs of strong transparent wings, and an ...
                                    <!-- Link to post detail page, change href="LINK_TO_POST_DETAIL_PAGE"-->
                                    <a class="read-more" href="#">
                                        Read more » <!-- Also you can change text for read more button here-->
                                    </a>
                                </div>
                                <div class="post-meta clearfix">
                                    <span class="time pull-left">
                                        <i class="fa fa-calendar"></i> 12 days ago <!-- Change publish date here-->
                                    </span>
                                    <span class="comment pull-right">
                                        <i class="fa fa-comments-o"></i>
                                        <span>
                                            0 comment <!-- Change comment count here-->
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- End post item-->
                        <!-- Begin post item
                                - Keep class="item-list post" for each post item
                                - Add featured to class if this post is feature
                        -->
                        <div class="item-list post">
                            <!-- Keep class="wrap"
                                    - Add post type after wrap, example: audio-->
                            <div class="wrap audio">
                                <h2 class="post-title">
                                    <!-- Change href="LINK_TO_POST_DETAIL_PAGE"-->
                                    <a href="#">
                                        I'm audio post format <!-- Change post title here-->
                                    </a>
                                </h2>
                                <div class="post-media">
                                    <!-- Change your SoundCloud embed here-->
                                    <iframe height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/134475536&amp;color=008B8B&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
                                </div>
                                <div class="post-excerpt">
                                    <!-- Change post description here-->
                                    A dragonfly is an insect belonging to the order Odonata, the suborder Epiprocta or, in the strict sense, the infraorder Anisoptera (from Greek ανισος anisos, "uneven" + πτερος pteros, "wings", because the hindwing is broader than the forewing). It is characterized by large multifaceted eyes, two pairs of strong transparent wings, and an ...
                                    <!-- Link to post detail page, change href="LINK_TO_POST_DETAIL_PAGE"-->
                                    <a class="read-more" href="#">
                                        Read more » <!-- Also you can change text for read more button here-->
                                    </a>
                                </div>
                                <div class="post-meta clearfix">
                                    <span class="time pull-left">
                                        <i class="fa fa-calendar"></i> 12 days ago <!-- Change publish date here-->
                                    </span>
                                    <span class="comment pull-right">
                                        <i class="fa fa-comments-o"></i>
                                        <span>
                                            0 comment <!-- Change comment count here-->
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- End post item-->
                        <!-- Begin post item
                                - Keep class="item-list post" for each post item
                                - Add featured to class if this post is feature
                        -->
                        <div class="item-list post">
                            <!-- Keep class="wrap"
                                    - Add post type after wrap, example: audio-->
                            <div class="wrap">
                                <h2 class="post-title">
                                    <!-- Change href="LINK_TO_POST_DETAIL_PAGE"-->
                                    <a href="#">
                                        I'm plain text post format <!-- Change post title here-->
                                    </a>
                                </h2>
                                <div class="post-excerpt">
                                    <!-- Change post description here-->
                                    A dragonfly is an insect belonging to the order Odonata, the suborder Epiprocta or, in the strict sense, the infraorder Anisoptera (from Greek ανισος anisos, "uneven" + πτερος pteros, "wings", because the hindwing is broader than the forewing). It is characterized by large multifaceted eyes, two pairs of strong transparent wings, and an ...
                                    <!-- Link to post detail page, change href="LINK_TO_POST_DETAIL_PAGE"-->
                                    <a class="read-more" href="#">
                                        Read more » <!-- Also you can change text for read more button here-->
                                    </a>
                                </div>
                                <div class="post-meta clearfix">
                                    <span class="time pull-left">
                                        <i class="fa fa-calendar"></i> 12 days ago <!-- Change publish date here-->
                                    </span>
                                    <span class="comment pull-right">
                                        <i class="fa fa-comments-o"></i>
                                        <span>
                                            0 comment <!-- Change comment count here-->
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- End post item-->
                        <!-- Begin post item
                                - Keep class="item-list post" for each post item
                                - Add featured to class if this post is feature
                        -->
                        <div class="item-list post">
                            <!-- Keep class="wrap"
                                    - Add post type after wrap, example: video-->
                            <div class="wrap video">
                                <h2 class="post-title">
                                    <!-- Change href="LINK_TO_POST_DETAIL_PAGE"-->
                                    <a href="#">
                                        I'm Vimeo Video Post Format <!-- Change post title here-->
                                    </a>
                                </h2>
                                <div class="post-media">
                                    <!-- Change your video embed here-->
                                    <iframe src="//player.vimeo.com/video/609746?title=0&amp;byline=0&amp;portrait=0" width="500" height="281"></iframe>
                                </div>
                                <div class="post-excerpt">
                                    <!-- Change post description here-->
                                    A dragonfly is an insect belonging to the order Odonata, the suborder Epiprocta or, in the strict sense, the infraorder Anisoptera (from Greek ανισος anisos, "uneven" + πτερος pteros, "wings", because the hindwing is broader than the forewing). It is characterized by large multifaceted eyes, two pairs of strong transparent wings, and an ...
                                    <!-- Link to post detail page, change href="LINK_TO_POST_DETAIL_PAGE"-->
                                    <a class="read-more" href="#">
                                        Read more » <!-- Also you can change text for read more button here-->
                                    </a>
                                </div>
                                <div class="post-meta clearfix">
                                    <span class="time pull-left">
                                        <i class="fa fa-calendar"></i> 12 days ago <!-- Change publish date here-->
                                    </span>
                                    <span class="comment pull-right">
                                        <i class="fa fa-comments-o"></i>
                                        <span>
                                            0 comment <!-- Change comment count here-->
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- End post item-->
                        <!-- Begin post item
                                - Keep class="item-list post" for each post item
                                - Add featured to class if this post is feature
                        -->
                        <div class="item-list post">
                            <!-- Keep class="wrap"
                                    - Add post type after wrap, example: quote-->
                            <div class="wrap quote">
                                <div class="post-excerpt">
                                    <blockquote>
                                        <p>
                                            <!-- Change quote content here-->
                                            Curabitur mollis sit amet sem ultricies laoreet. Donec a orci lacinia, interdum arcu eu, consequat arcu. Phasellus ut tellus at eros volutpat commodo a at eros. Sed luctus justo in nisi ullamcorper viverra. Donec vel pretium neque, vel posuere erat. Aliquam rutrum ligula odio, et convallis lectus interdum at.
                                        </p>
                                    </blockquote>
                                    <cite>
                                        Steve Jobs <!-- Change author name here-->
                                    </cite>
                                </div>
                            </div>
                        </div>
                        <!-- End post item-->
                        <!-- Begin post item
                                - Keep class="item-list post" for each post item
                                - Add featured to class if this post is feature
                        -->
                        <div class="item-list post">
                            <!-- Keep class="wrap"
                                    - Add post type after wrap, example: photo-->
                            <div class="wrap photo">
                                <h2 class="post-title">
                                    <!-- Change href="LINK_TO_POST_DETAIL_PAGE"-->
                                    <a href="post-single-default.html">
                                        I'm another post thumbnail <!-- Change post title here-->
                                    </a>
                                </h2>
                                <div class="post-media">
                                    <!-- Image thumbnail for post
                                            - Change src="LINK_TO_POST_IMAGE"
                                    -->
                                    <img src="assets/img/post-demo.gif" alt="Post title here" class="img-responsive">
                                    <div class="mask">
                                        <!-- Quick preview popup for your image thumbnail, change src="LINK_TO_YOUR_IMAGE"-->
                                        <a class="preview magnific-popup-image" href="http://previews.sunflowertheme.com/img/picjumbo.com_IMG_4118.jpg">
                                            <i class="fa fa-search"></i>
                                        </a>
                                        <!-- Link to post detail page, change href="LINK_TO_POST_DETAIL_PAGE"-->
                                        <a class="detail" href="post-single-default.html">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="post-excerpt">
                                    <!-- Change post description here-->
                                    GLorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis erat ac est facilisis faucibus. Mauris auctor purus mi, vitae interdum sem laoreet eu. Duis non pulvinar dui, vitae varius enim. Sed interdum porttitor consequat. Fusce nec ullamcorper ante. Donec ullamcorper nisl velit, aliquet semper sapien lobortis non ...
                                    <!-- Link to post detail page, change href="LINK_TO_POST_DETAIL_PAGE"-->
                                    <a class="read-more" href="#">
                                        Read more » <!-- Also you can change text for read more button here-->
                                    </a>
                                </div>
                                <div class="post-meta clearfix">
                                    <span class="time pull-left">
                                        <i class="fa fa-calendar"></i> 12 days ago <!-- Change publish date here-->
                                    </span>
                                    <span class="comment pull-right">
                                        <i class="fa fa-comments-o"></i>
                                        <span>
                                            0 comment <!-- Change comment count here-->
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- End post item-->
                        <!-- Begin post item
                                - Keep class="item-list post" for each post item
                                - Add featured to class if this post is feature
                        -->
                        <div class="item-list post">
                            <!-- Keep class="wrap"
                                    - Add post type after wrap, example: adv-->
                            <div class="wrap adv">
                                <!-- Place your ad image or script here-->
                                <img src="assets/img/ad-demo.gif" alt=""/>
                            </div>
                        </div>
                        <!-- End post item-->
                        <!-- Begin post item
                                - Keep class="item-list post" for each post item
                                - Add featured to class if this post is feature
                        -->
                        <div class="item-list post">
                            <!-- Keep class="wrap"
                                    - Add post type after wrap, example: adv-->
                            <div class="wrap">
                                <h2 class="post-title">
                                    <!-- Change href="LINK_TO_POST_DETAIL_PAGE"-->
                                    <a href="#">
                                        I'm another plain text post format <!-- Change post title here-->
                                    </a>
                                </h2>
                                <div class="post-excerpt">
                                    <!-- Change post description here-->
                                    A dragonfly is an insect belonging to the order Odonata, the suborder Epiprocta or, in the strict sense, the infraorder Anisoptera (from Greek ανισος anisos, "uneven" + πτερος pteros, "wings", because the hindwing is broader than the forewing). It is characterized by large multifaceted eyes, two pairs of strong transparent wings, and an ...
                                    <!-- Link to post detail page, change href="LINK_TO_POST_DETAIL_PAGE"-->
                                    <a class="read-more" href="#">
                                        Read more » <!-- Also you can change text for read more button here-->
                                    </a>
                                </div>
                                <div class="post-meta clearfix">
                                    <span class="time pull-left">
                                        <i class="fa fa-calendar"></i> 12 days ago <!-- Change publish date here-->
                                    </span>
                                    <span class="comment pull-right">
                                        <i class="fa fa-comments-o"></i>
                                        <span>
                                            0 comment <!-- Change comment count here-->
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- End post item-->
                        <!-- Begin post item
                                - Keep class="item-list post" for each post item
                                - Add featured to class if this post is feature
                        -->
                        <div class="item-list post">
                            <!-- Keep class="wrap"
                                    - Add post type after wrap, example: quote-->
                            <div class="wrap quote">
                                <div class="post-excerpt">
                                    <blockquote>
                                        <p>
                                            <!-- Change quote content here-->
                                            Curabitur mollis sit amet sem ultricies laoreet. Donec a orci lacinia, interdum arcu eu, consequat arcu. Phasellus ut tellus at eros volutpat commodo a at eros. Sed luctus justo in nisi ullamcorper viverra. Donec vel pretium neque, vel posuere erat. Aliquam rutrum ligula odio, et convallis lectus interdum at. 
                                        </p>
                                    </blockquote>
                                    <cite>
                                        Steve Jobs <!-- Change author name here-->
                                    </cite>
                                </div>
                            </div>
                        </div>
                        <!-- End post item-->
                    </div>
                </main>
            </div>
        </div>
        <!-- Begin About Pop-up content-->
        <div id="about-us" class="popup-container zoom-anim-dialog mfp-hide">
            <h2>About Us</h2>
            <p>
                You're in! Nice. We've put together a little post to introduce you to the Ghost editor and get you started. Go ahead and edit this post to get going and learn how it all works! Getting Started Writing in markdown is really easy.
            </p>
            <p>
                This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.
            </p>
        </div>
        <!-- End About Pop-up content-->
        <!-- Begin Contact Pop-up content-->
        <div id="contact-us" class="popup-container zoom-anim-dialog mfp-hide">
            <h2>Contact Us</h2>
            <ul class="vcard">
                <li>
                    <span class="vcard-icon"><i class="fa fa-home"></i></span>
                    <span class="vcard-text">677 Tan Son Street, Ho Chi Minh, VN</span>
                </li>
                <li>
                    <span class="vcard-icon"><i class="fa fa-phone"></i></span>
                    <span class="vcard-text">(+84) 909 53 6892</span>
                </li>
                <li>
                    <span class="vcard-icon"><i class="fa fa-envelope"></i></span>
                    <span class="vcard-text">info@yourdomain.com</span>
                </li>
            </ul>
        </div>
        <!-- End Contact Pop-up content-->
        <!-- Begin Newsletter Popup Content-->
        <div id="newsletter" class="popup-container zoom-anim-dialog mfp-hide">
            <h2>Newsletter</h2>
            <p>
                Sign up to receive email updates and to hear what's going on with me!
            </p>
            <form id="newsletter-form">
                <div class="input-group">
                    <input type="email" name="email" placeholder="Email address" class="form-control" required >
                    <span class="input-group-btn">
                        <button class="btn btn-theme" type="submit"><i class="fa fa-long-arrow-right"></i></button>
                    </span>
                </div>
            </form>
        </div>
        <!-- End Newsletter Pop-up content-->
        <!-- Begin of all required javascript for this template-->
        <script type="text/javascript" src="assets/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.easing.1.3.js" ></script>
        <script type="text/javascript" src="assets/js/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.isotope.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.isotope.perfectmasonry.js"></script>
        <script type="text/javascript" src="assets/js/jquery.infinitescroll.js"></script>
        <script type="text/javascript" src="assets/js/owl.carousel.min.js" ></script>
        <script type="text/javascript" src="assets/js/jquery.fitvids.js"></script>
        <script type="text/javascript" src="assets/js/jquery.flickr.js"></script>
        <script type="text/javascript" src="assets/js/jquery.instagram.js"></script>
        <script type="text/javascript" src="assets/js/jribbble.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap-multiselect.js"></script>
        <script type="text/javascript" src="assets/js/jqBootstrapValidation.js"></script>
        <script type="text/javascript" src="assets/js/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="assets/js/sscr.js"></script>
        <script type="text/javascript" src="assets/js/jquery.nicescroll.min.js"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
        <script type="text/javascript" src="assets/js/config.js"></script>
        <script type="text/javascript" src="assets/js/main.js"></script>
        <!-- End of all required javascript for this template-->
    </body>
</html>