<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Portfolio Single Gallery - Dragonfly</title>
        <meta name="description" content="YOUR DESCRIPTION HERE" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <!-- Begin all stylesheet required for template-->
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/owl.theme.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css"/>
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-multiselect.css"/>
        <link rel="stylesheet" type="text/css" href="assets/css/screen.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/colors.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/custom.css" />
        <!-- End all stylesheet required for template-->
    </head>
    <body class="post-template pattern">
        <!--[if lt IE 9]>
        <div class="outdated-frame">
            You are using an <strong>outdated</strong> browser. Please <a href="http://www.google.com/chrome/intl/en/landing_chrome.html">upgrade your browser</a>.
        </div>
        <![endif]-->
        <div class="main-wrap">
            <!-- Begin of More detail button-->
            <a id="more-info" href="javascript:;">
                <span>
                    <i class="fa fa-plus"></i> <!-- You can change icon here-->
                </span>
            </a>
            <!-- End of more detail button-->

            <!-- Begin More info sidebar-->
            <aside id="more-info-sidebar">
                <!-- Begin Newsletter Widget-->
                <div class="widget">
                    <h3 class="widget-title">Newsletter</h3>
                    <div class="widget-content">
                        <p>
                            Sign up to receive email updates and to hear what's going on with me!
                        </p>
                        <form id="newsletter-form">
                            <div class="input-group">
                                <input type="email" name="email" placeholder="Email address" class="form-control" required >
                                <span class="input-group-btn">
                                    <button class="btn btn-theme" type="submit"><i class="fa fa-long-arrow-right"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Newsletter Widget-->
                <!-- Begin Recent Post Widget-->
                <div class="widget">
                    <h3 class="widget-title">
                        Recent Posts <!-- Change widget title here-->
                    </h3>
                    <div class="widget-content">
                        <div class="recent-post">
                            <ul class="feedList static">
                                <!-- Begin of one recent post item-->
                                <li class="clearfix">
                                    <span class="itemDate">
                                        <span class="date">
                                            12 <!-- Change publish day here-->
                                        </span>
                                        <span class="month">
                                            Dec <!-- Change publish month here-->
                                        </span>
                                    </span>
                                    <span class="itemContent">
                                        <span class="title">
                                            <!-- Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                Just a Blogging Platform <!-- Change post title here-->
                                            </a>
                                        </span>
                                        <span class="desc">
                                            Ghost is a platform dedicated to one thing: Publi ... <!-- Change description text here-->
                                            <!-- Begin of view more button
                                                    - Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                View » <!-- Change button text here-->
                                            </a>
                                            <!-- End of view more button-->
                                        </span>
                                    </span>
                                </li>
                                <!-- End of one recent post item-->
                                <!-- Begin of one recent post item-->
                                <li class="clearfix">
                                    <span class="itemDate">
                                        <span class="date">
                                            12 <!-- Change publish day here-->
                                        </span>
                                        <span class="month">
                                            Dec <!-- Change publish month here-->
                                        </span>
                                    </span>
                                    <span class="itemContent">
                                        <span class="title">
                                            <!-- Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                About Dragonfly  <!-- Change post title here-->
                                            </a>
                                        </span>
                                        <span class="desc">
                                            A dragonfly is an insect belonging to the order O ...<!-- Change description text here-->
                                            <!-- Begin of view more button
                                                    - Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                View »<!-- Change button text here-->
                                            </a>
                                            <!-- End of view more button-->
                                        </span>
                                    </span>
                                </li>
                                <!-- End of one recent post item-->
                                <!-- Begin of one recent post item-->
                                <li class="clearfix">
                                    <span class="itemDate">
                                        <span class="date">
                                            11 <!-- Change publish day here-->
                                        </span>
                                        <span class="month">
                                            Dec <!-- Change publish month here-->
                                        </span>
                                    </span>
                                    <span class="itemContent">
                                        <span class="title">
                                            <!-- Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                300 rise of an empire trailer 2013 <!-- Change post title here-->
                                            </a>
                                        </span>
                                        <span class="desc">
                                            Lorem ipsum dolor sit amet, consectetur adipiscin ...<!-- Change description text here-->
                                            <!-- Begin of view more button
                                                    - Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                View »<!-- Change button text here-->
                                            </a>
                                            <!-- End of view more button-->
                                        </span>
                                    </span>
                                </li>
                                <!-- End of one recent post item-->
                                <!-- Begin of one recent post item-->
                                <li class="clearfix">
                                    <span class="itemDate">
                                        <span class="date">
                                            10 <!-- Change publish day here-->
                                        </span>
                                        <span class="month">
                                            Dec <!-- Change publish month here-->
                                        </span>
                                    </span>
                                    <span class="itemContent">
                                        <span class="title">
                                            <!-- Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                Dragonfly Theme Shortcodes <!-- Change post title here-->
                                            </a>
                                        </span>
                                        <span class="desc">
                                            Lorem ipsum dolor sit amet, consectetur adipiscin ...<!-- Change description text here-->
                                            <!-- Begin of view more button
                                                    - Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                View »<!-- Change button text here-->
                                            </a>
                                            <!-- End of view more button-->
                                        </span>
                                    </span>
                                </li>
                                <!-- End of one recent post item-->
                                <!-- Begin of one recent post item-->
                                <li class="clearfix">
                                    <span class="itemDate">
                                        <span class="date">
                                            10 <!-- Change publish day here-->
                                        </span>
                                        <span class="month">
                                            Dec <!-- Change publish month here-->
                                        </span>
                                    </span>
                                    <span class="itemContent">
                                        <span class="title">
                                            <!-- Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                Dragonfly Theme Features <!-- Change post title here-->
                                            </a>
                                        </span>
                                        <span class="desc">
                                            Lorem ipsum dolor sit amet, consectetur adipiscin ...<!-- Change description text here-->
                                            <!-- Begin of view more button
                                                    - Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                View »<!-- Change button text here-->
                                            </a>
                                            <!-- End of view more button-->
                                        </span>
                                    </span>
                                </li>
                                <!-- End of one recent post item-->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Recent Post Widget-->
                <!-- Begin Flickr Stream Widget-->
                <div class="widget">
                    <h3 class="widget-title">Flickr Stream</h3>
                    <div class="widget-content">
                        <ul class="flickr-feed" data-mode="gallery" data-size="12" data-popup-preview="true">
                        </ul>
                    </div>
                </div>
                <!-- End Flickr Stream Widget-->
                <!-- Begin Tweet Widget-->
                <div class="widget">
                    <div class="widget-content twitter">
                        <a class="twitter-timeline" href="https://twitter.com/SunflowerTheme" data-widget-id="409933315160829952">Tweets by @SunflowerTheme</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                </div>
                <!-- End Tweet Widget-->
            </aside>
            <!-- End More info sidebar-->

            <!-- Begin Main sidebar-->
            <aside id="main-sidebar" class="covered">
                <!-- Begin of logo-->
                <div class="logo-container">
                    <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                    <a class="logo" href="index.html">
                        <!-- Change src="LINK_TO_LOGO_IMAGE"-->
                        <img src="assets/img/logo.png" alt="Dragonfly" title="Dragonfly"/>
                    </a>
                </div>
                <!-- End of logo-->
                <div class="sidebar-wrap">
                    <div class="sidebar-menu-container">
                        <!-- Begin intro text-->
                        <div class="intro">
                            <p>
                                You're in! Nice. We've put together a little post to introduce you to the Ghost editor and get you started. <!-- Change intro text here-->
                            </p>
                        </div>
                        <!-- End intro text-->
                        <!-- Begin of mobile menu button-->
                        <a id="mobile-menu" class="btn btn-theme collapsed" data-toggle="collapse" data-target=".main-nav">
                            <span>
                                Navigation <!-- You can change text of mobile menu button here-->
                            </span>
                            <i class="fa fa-tasks"></i> <!-- Also you can change icon if mobile menu button here-->
                        </a>
                        <!-- End of mobile menu button-->
                        <!-- Begin of main menu-->
                        <ul class="nav main-nav collapse navbar-collapse">
                            <!-- Begin of one menu item
                                    - Add class="has-sub" if this menu item has sub menu-->
                            <li class="has-sub">
                                <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                <a href="#">
                                    Home <!-- Change text of menu here-->
                                    <span class="caret"></span> <!-- Add this code block if this menu has sub-->
                                </a>
                                <!-- Begin of sub menu-->
                                <ul class="dropdown-menu">
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="index.html">
                                            Home Standard Style <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="index-with-filter.html">
                                            Home With Filter <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="index-gallery-style.html">
                                            Home Gallery Style <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="index-simple-style.html">
                                            Home Simple Style <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                </ul>
                                <!-- End of sub menu-->
                            </li>
                            <!-- End of one menu item-->
                            <!-- Begin of one menu item
                                    - Add class="has-sub" if this menu item has sub menu-->
                            <li>
                                <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                <a href="profile.html">
                                    My Profile <!-- Change text of menu here-->
                                </a>
                            </li>
                            <!-- End of one menu item-->
                            <!-- Begin of one menu item
                                    - Add class="has-sub active" if this menu item has sub menu and active item-->
                            <li  class="has-sub active">
                                <a href="#">
                                    Portfolio <!-- Change text of menu here-->
                                    <span class="caret"></span> <!-- Add this code block if this menu has sub-->
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- Begin of one sub menu item
                                            -Add class="active" if this item is current page -->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="portfolio-2cols.html">
                                            Portfolio 2 Columns <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="portfolio-3cols.html">
                                            Portfolio 3 Columns <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="portfolio-4cols.html">
                                            Portfolio 4 Columns <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="portfolio-single-default.html">
                                            Portfolio Single Default <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li class="active">
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="portfolio-single-gallery.html">
                                            Portfolio Single Gallery <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="portfolio-single-video.html">
                                            Portfolio Single Video <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                </ul>
                            </li>
                            <!-- End of one menu item-->
                            <!-- Begin of one menu item
                                    - Add class="has-sub" if this menu item has sub menu-->
                            <li  class="has-sub">
                                <a href="#">
                                    Pages <!-- Change text of item here-->
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="post-single-default.html">
                                            Post Single Default <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="post-single-audio.html">
                                            Post Single Audio <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="post-single-video.html">
                                            Post Single Video <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="post-single-gallery.html">
                                            Post Single Gallery <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="short-codes.html">
                                            Short Codes <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="404.html">
                                            404 Page <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                </ul>
                            </li>
                            <!-- End of one menu item-->
                            <!-- Begin of one menu item
                                    - Add class="has-sub" if this menu item has sub menu-->
                            <li>
                                <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                <a href="get-in-touch.html">
                                    Get In Touch <!-- Change text of item here-->
                                </a>
                            </li>
                            <!-- End of one menu item-->
                        </ul>
                        <!-- End of main menu-->
                    </div>
                    <div class="sidebar-bottom-container">
                        <!-- Begin of social icons area-->
                        <div class="bottom-social">
                            <ul class="social">
                                <!-- Begin of icon
                                        - Change class="TYPE_OF_SOCIAL_ICON"
                                -->
                                <li class="twitter">
                                    <!-- Change href="LINK_TO_YOUR_SOCIAL_ICON"-->
                                    <a href="#" target="_blank" title="Twitter">
                                        <i class="fa fa-twitter"></i>  <!-- Change social icon here-->
                                    </a>
                                </li>
                                <!-- End of icon-->

                                <!-- Begin of icon
                                        - Change class="TYPE_OF_SOCIAL_ICON"
                                -->
                                <li class="facebook">
                                    <!-- Change href="LINK_TO_YOUR_SOCIAL_ICON"-->
                                    <a href="#" target="_blank" title="Facebook">
                                        <i class="fa fa-facebook"></i>  <!-- Change social icon here-->
                                    </a>
                                </li>
                                <!-- End of icon-->

                                <!-- Begin of icon
                                        - Change class="TYPE_OF_SOCIAL_ICON"
                                -->
                                <li class="google">
                                    <!-- Change href="LINK_TO_YOUR_SOCIAL_ICON"-->
                                    <a href="#" target="_blank" title="Google">
                                        <i class="fa fa-google-plus"></i>  <!-- Change social icon here-->
                                    </a>
                                </li>
                                <!-- End of icon-->

                                <!-- Begin of icon
                                        - Change class="TYPE_OF_SOCIAL_ICON"
                                -->
                                <li class="linkedin">
                                    <!-- Change href="LINK_TO_YOUR_SOCIAL_ICON"-->
                                    <a href="#" target="_blank" title="Linkedin">
                                        <i class="fa fa-linkedin"></i>  <!-- Change social icon here-->
                                    </a>
                                </li>
                                <!-- End of icon-->

                                <!-- Begin of icon
                                        - Change class="TYPE_OF_SOCIAL_ICON"
                                -->
                                <li class="skype">
                                    <!-- Change href="LINK_TO_YOUR_SOCIAL_ICON"-->
                                    <a href="#" target="_blank" title="Skype">
                                        <i class="fa fa-skype"></i>  <!-- Change social icon here-->
                                    </a>
                                </li>
                                <!-- End of icon-->

                                <!-- Begin of icon
                                        - Change class="TYPE_OF_SOCIAL_ICON"
                                -->
                                <li class="rss">
                                    <!-- Change href="LINK_TO_YOUR_SOCIAL_ICON"-->
                                    <a href="/rss/" target="_blank" title="Rss Feed">
                                        <i class="fa fa-rss"></i> <!-- Change social icon here-->
                                    </a>
                                </li>
                                <!-- End of icon-->
                            </ul>
                        </div>
                        <!-- End of social icons area-->

                        <!-- Begin of copyright area-->
                        <div class="copyright">
                            Copyright &copy; 2014
                            <a href="/">Dragonfly</a>
                            <br/>
                            All rights reserved.
                        </div>
                        <!-- End of copyright area-->
                    </div>
                </div>
            </aside>
            <!-- End Main sidebar-->
            <div id="main-content">
                <main class="body-content" role="main">
                    <div class="post-header">
                        <div class="pull-left post-title">
                            <h2>
                                Portfolio Single Gallery <!-- Change portfolio title here-->
                            </h2>
                        </div>
                        <div class="pull-right post-tools page">
                            <!-- Begin search box-->
                            <div class="search-box">
                                <a id="btn-search" class="btn btn-theme">
                                    Search <i class="fa fa-search"></i>
                                </a>
                                <div class="search-form">
                                    <form class="form-inline" role="form">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="search-keyword" placeholder="Enter keyword"/>
                                        </div>
                                    </form>
                                    <div id="search-result">

                                    </div>
                                </div>
                            </div>
                            <!-- End search box-->
                            <!-- Begin share buttons-->
                            <div class="share-box">
                                <a id="btn-share" href="javascript:;" class="btn btn-theme">
                                    Share <span class="caret"></span>
                                </a>
                                <div class="share-box-content">
                                    <ul class="social active">
                                        <li class="twitter">
                                            <!-- Change href="LINK_TO_SHARE_ON_TWITTER"-->
                                            <a href="#" title="Twitter">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="facebook">
                                            <!-- Change href="LINK_TO_SHARE_ON_FACEBOOK"-->
                                            <a href="#" title="Facebook">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="google">
                                            <!-- Change href="LINK_TO_SHARE_ON_GOOGLE_PLUS"-->
                                            <a href="#" title="Google">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li class="linkedin">
                                            <!-- Change href="LINK_TO_SHARE_ON_LINKEDIN"-->
                                            <a href="#" target="_blank" title="Linkedin">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End share buttons-->
                        </div>
                    </div>
                    <div class="post-wrap">
                        <article class="post page">
                            <section class="post-content">
                                <div class="row">
                                    <div class="col-md-8">
                                        <!-- Begin gallery-->
                                        <div class="owl-slider owl-carousel slider thumb-slider"
                                            data-navigation="true"
                                            data-pagination="true"
                                            data-autoPlay="true"
                                            data-stopOnHover="true">
                                            <!-- Begin one gallery item-->
                                            <div class="item">
                                                <!-- Your Portfolio image here
                                                        - Change href="PATH_TO_YOUR_PORTFOLIO_IMAGE"
                                                -->
                                                <img class="img-responsive" src="assets/img/portfolio/portfolio-demo.gif" alt="Portfolio title here"/>
                                            </div>
                                            <!-- End one gallery item-->
                                            <!-- Begin one gallery item-->
                                            <div class="item">
                                                <!-- Your Portfolio image here
                                                        - Change href="PATH_TO_YOUR_PORTFOLIO_IMAGE"
                                                -->
                                                <img class="img-responsive" src="assets/img/portfolio/portfolio-demo.gif" alt="Portfolio title here"/>
                                            </div>
                                            <!-- End one gallery item-->
                                            <!-- Begin one gallery item-->
                                            <div class="item">
                                                <!-- Your Portfolio image here
                                                        - Change href="PATH_TO_YOUR_PORTFOLIO_IMAGE"
                                                -->
                                                <img class="img-responsive" src="assets/img/portfolio/portfolio-demo.gif" alt="Portfolio title here"/>
                                            </div>
                                            <!-- End one gallery item-->
                                        </div>
                                        <!-- End gallery-->
                                    </div>
                                    <div class="col-md-4">
                                        <!-- Begin Portfolio info-->
                                        <h3 class="no-margin-top">
                                            Project Description
                                        </h3>
                                        <p>
                                            <!-- Change project description here-->
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed facilisis purus. Donec interdum massa at ipsum vehicula tristique. Maecenas bibendum dictum tincidunt. Sed nec justo ac libero consequat tincidunt. Cras eget molestie justo.
                                        </p>
                                        <h3>Project Details</h3>
                                        <!-- Begin project deatil area-->
                                        <ul class="project-detail">
                                            <li>
                                                <strong>Client:</strong> Envato
                                            </li>
                                            <li>
                                                <strong>Status:</strong> Finish on 30 Dec, 2013
                                            </li>
                                            <li>
                                                <strong>Skills:</strong> creative, web design
                                            </li>
                                            <li>
                                                <strong>Demo:</strong> <a href="#">www.domain.com</a>
                                            </li>
                                        </ul>
                                        <!-- End project deatil area-->
                                        <!-- Begin social share button-->
                                        <div class="share">
                                            <span class="title">Share this:</span>
                                            <ul class="social active">
                                                <li class="twitter">
                                                    <a href="#" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Twitter">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li class="facebook">
                                                    <a href="#" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Facebook">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li class="google">
                                                    <a href="#"
                                                    onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" title="Google">
                                                        <i class="fa fa-google-plus"></i>
                                                    </a>
                                                </li>
                                                <li class="linkedin">
                                                    <a href="#" target="_blank" title="Linkedin">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- End social share button-->
                                        <!-- End portfolio info-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Recent Projects</h3>
                                    </div>
                                </div>
                                <!-- Begin Recent Project List-->
                                <div class="row">
                                    <!-- Begin of one recent project item-->
                                    <div class="col-md-3 col">
                                        <div class="recent-project-item">
                                            <div class="thumb">
                                                <!-- Image thumbnail for recent project item
                                                        - Change src="LINK_TO_PROJECT_IMAGE"
                                                -->
                                                <img class="img-responsive" src="assets/img/portfolio/portfolio-demo.gif" alt="Portfolio title here"/>
                                            </div>
                                            <div class="caption">
                                                <h5>
                                                    <!-- Link to project detail page, change href="LINK_TO_PROJECT_DETAIL_PAGE"-->
                                                    <a href="#">
                                                        Etiam sed facilisis purus <!--Change recent project title here-->
                                                    </a>
                                                </h5>
                                                <p>
                                                    Maecenas bibendum dictum tincidunt. <!-- Change project description here-->
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of one recent project item-->
                                    <!-- Begin of one recent project item-->
                                    <div class="col-md-3 col">
                                        <div class="recent-project-item">
                                            <div class="thumb">
                                                <!-- Image thumbnail for recent project item
                                                        - Change src="LINK_TO_PROJECT_IMAGE"
                                                -->
                                                <img class="img-responsive" src="assets/img/portfolio/portfolio-demo.gif" alt="Portfolio title here"/>
                                            </div>
                                            <div class="caption">
                                                <h5>
                                                    <!-- Link to project detail page, change href="LINK_TO_PROJECT_DETAIL_PAGE"-->
                                                    <a href="#">
                                                        Etiam sed facilisis purus
                                                    </a>
                                                </h5>
                                                <p>
                                                    Maecenas bibendum dictum tincidunt. <!-- Change project description here-->
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of one recent project item-->
                                    <!-- Begin of one recent project item-->
                                    <div class="col-md-3 col">
                                        <div class="recent-project-item">
                                            <div class="thumb">
                                                <!-- Image thumbnail for recent project item
                                                        - Change src="LINK_TO_PROJECT_IMAGE"
                                                -->
                                                <img class="img-responsive" src="assets/img/portfolio/portfolio-demo.gif" alt="Portfolio title here"/>
                                            </div>
                                            <div class="caption">
                                                <h5>
                                                    <!-- Link to project detail page, change href="LINK_TO_PROJECT_DETAIL_PAGE"-->
                                                    <a href="#">
                                                        Etiam sed facilisis purus
                                                    </a>
                                                </h5>
                                                <p>
                                                    Maecenas bibendum dictum tincidunt. <!-- Change project description here-->
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of one recent project item-->
                                    <!-- Begin of one recent project item-->
                                    <div class="col-md-3 col">
                                        <div class="recent-project-item">
                                            <div class="thumb">
                                                <!-- Image thumbnail for recent project item
                                                        - Change src="LINK_TO_PROJECT_IMAGE"
                                                -->
                                                <img class="img-responsive" src="assets/img/portfolio/portfolio-demo.gif" alt="Portfolio title here"/>
                                            </div>
                                            <div class="caption">
                                                <h5>
                                                    <!-- Link to project detail page, change href="LINK_TO_PROJECT_DETAIL_PAGE"-->
                                                    <a href="#">
                                                        Etiam sed facilisis purus
                                                    </a>
                                                </h5>
                                                <p>
                                                    Maecenas bibendum dictum tincidunt. <!-- Change project description here-->
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of one recent project item-->
                                </div>
                                <!-- End Recent Project List-->
                            </section>
                        </article>
                    </div>
                </main>
            </div>
        </div>
        <!-- Begin of all required javascript for this template-->
        <script type="text/javascript" src="assets/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.easing.1.3.js" ></script>
        <script type="text/javascript" src="assets/js/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.isotope.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.isotope.perfectmasonry.js"></script>
        <script type="text/javascript" src="assets/js/jquery.infinitescroll.js"></script>
        <script type="text/javascript" src="assets/js/owl.carousel.min.js" ></script>
        <script type="text/javascript" src="assets/js/jquery.fitvids.js"></script>
        <script type="text/javascript" src="assets/js/jquery.flickr.js"></script>
        <script type="text/javascript" src="assets/js/jquery.instagram.js"></script>
        <script type="text/javascript" src="assets/js/jribbble.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap-multiselect.js"></script>
        <script type="text/javascript" src="assets/js/jqBootstrapValidation.js"></script>
        <script type="text/javascript" src="assets/js/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="assets/js/sscr.js"></script>
        <script type="text/javascript" src="assets/js/jquery.nicescroll.min.js"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
        <script type="text/javascript" src="assets/js/config.js"></script>
        <script type="text/javascript" src="assets/js/main.js"></script>
        <!-- End of all required javascript for this template-->
    </body>
</html>