<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Post Single Default - Dragonfly</title>
        <meta name="description" content="YOUR DESCRIPTION HERE" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <!-- Begin all stylesheet required for template-->
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/owl.theme.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css"/>
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-multiselect.css"/>
        <link rel="stylesheet" type="text/css" href="assets/css/screen.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/colors.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/custom.css" />
        <!-- End all stylesheet required for template-->
    </head>
    <body class="post-template auto-col pattern">
        <!--[if lt IE 9]>
        <div class="outdated-frame">
            You are using an <strong>outdated</strong> browser. Please <a href="http://www.google.com/chrome/intl/en/landing_chrome.html">upgrade your browser</a>.
        </div>
        <![endif]-->
        <div class="main-wrap">
            <!-- Begin of More detail button-->
            <a id="more-info" href="javascript:;">
                <span>
                    <i class="fa fa-plus"></i> <!-- You can change icon here-->
                </span>
            </a>
            <!-- End of more detail button-->

            <!-- Begin More info sidebar-->
            <aside id="more-info-sidebar">
                <!-- Begin Newsletter Widget-->
                <div class="widget">
                    <h3 class="widget-title">Newsletter</h3>
                    <div class="widget-content">
                        <p>
                            Sign up to receive email updates and to hear what's going on with me!
                        </p>
                        <form id="newsletter-form">
                            <div class="input-group">
                                <input type="email" name="email" placeholder="Email address" class="form-control" required >
                                <span class="input-group-btn">
                                    <button class="btn btn-theme" type="submit"><i class="fa fa-long-arrow-right"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Newsletter Widget-->
                <!-- Begin Recent Post Widget-->
                <div class="widget">
                    <h3 class="widget-title">
                        Recent Posts <!-- Change widget title here-->
                    </h3>
                    <div class="widget-content">
                        <div class="recent-post">
                            <ul class="feedList static">
                                <!-- Begin of one recent post item-->
                                <li class="clearfix">
                                    <span class="itemDate">
                                        <span class="date">
                                            12 <!-- Change publish day here-->
                                        </span>
                                        <span class="month">
                                            Dec <!-- Change publish month here-->
                                        </span>
                                    </span>
                                    <span class="itemContent">
                                        <span class="title">
                                            <!-- Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                Just a Blogging Platform <!-- Change post title here-->
                                            </a>
                                        </span>
                                        <span class="desc">
                                            Ghost is a platform dedicated to one thing: Publi ... <!-- Change description text here-->
                                            <!-- Begin of view more button
                                                    - Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                View » <!-- Change button text here-->
                                            </a>
                                            <!-- End of view more button-->
                                        </span>
                                    </span>
                                </li>
                                <!-- End of one recent post item-->
                                <!-- Begin of one recent post item-->
                                <li class="clearfix">
                                    <span class="itemDate">
                                        <span class="date">
                                            12 <!-- Change publish day here-->
                                        </span>
                                        <span class="month">
                                            Dec <!-- Change publish month here-->
                                        </span>
                                    </span>
                                    <span class="itemContent">
                                        <span class="title">
                                            <!-- Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                About Dragonfly  <!-- Change post title here-->
                                            </a>
                                        </span>
                                        <span class="desc">
                                            A dragonfly is an insect belonging to the order O ...<!-- Change description text here-->
                                            <!-- Begin of view more button
                                                    - Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                View »<!-- Change button text here-->
                                            </a>
                                            <!-- End of view more button-->
                                        </span>
                                    </span>
                                </li>
                                <!-- End of one recent post item-->
                                <!-- Begin of one recent post item-->
                                <li class="clearfix">
                                    <span class="itemDate">
                                        <span class="date">
                                            11 <!-- Change publish day here-->
                                        </span>
                                        <span class="month">
                                            Dec <!-- Change publish month here-->
                                        </span>
                                    </span>
                                    <span class="itemContent">
                                        <span class="title">
                                            <!-- Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                300 rise of an empire trailer 2013 <!-- Change post title here-->
                                            </a>
                                        </span>
                                        <span class="desc">
                                            Lorem ipsum dolor sit amet, consectetur adipiscin ...<!-- Change description text here-->
                                            <!-- Begin of view more button
                                                    - Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                View »<!-- Change button text here-->
                                            </a>
                                            <!-- End of view more button-->
                                        </span>
                                    </span>
                                </li>
                                <!-- End of one recent post item-->
                                <!-- Begin of one recent post item-->
                                <li class="clearfix">
                                    <span class="itemDate">
                                        <span class="date">
                                            10 <!-- Change publish day here-->
                                        </span>
                                        <span class="month">
                                            Dec <!-- Change publish month here-->
                                        </span>
                                    </span>
                                    <span class="itemContent">
                                        <span class="title">
                                            <!-- Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                Dragonfly Theme Shortcodes <!-- Change post title here-->
                                            </a>
                                        </span>
                                        <span class="desc">
                                            Lorem ipsum dolor sit amet, consectetur adipiscin ...<!-- Change description text here-->
                                            <!-- Begin of view more button
                                                    - Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                View »<!-- Change button text here-->
                                            </a>
                                            <!-- End of view more button-->
                                        </span>
                                    </span>
                                </li>
                                <!-- End of one recent post item-->
                                <!-- Begin of one recent post item-->
                                <li class="clearfix">
                                    <span class="itemDate">
                                        <span class="date">
                                            10 <!-- Change publish day here-->
                                        </span>
                                        <span class="month">
                                            Dec <!-- Change publish month here-->
                                        </span>
                                    </span>
                                    <span class="itemContent">
                                        <span class="title">
                                            <!-- Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                Dragonfly Theme Features <!-- Change post title here-->
                                            </a>
                                        </span>
                                        <span class="desc">
                                            Lorem ipsum dolor sit amet, consectetur adipiscin ...<!-- Change description text here-->
                                            <!-- Begin of view more button
                                                    - Change href="LINK_OF_YOUR_POST"-->
                                            <a href="#">
                                                View »<!-- Change button text here-->
                                            </a>
                                            <!-- End of view more button-->
                                        </span>
                                    </span>
                                </li>
                                <!-- End of one recent post item-->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Recent Post Widget-->
                <!-- Begin Flickr Stream Widget-->
                <div class="widget">
                    <h3 class="widget-title">Flickr Stream</h3>
                    <div class="widget-content">
                        <ul class="flickr-feed" data-mode="gallery" data-size="12" data-popup-preview="true">
                        </ul>
                    </div>
                </div>
                <!-- End Flickr Stream Widget-->
                <!-- Begin Tweet Widget-->
                <div class="widget">
                    <div class="widget-content twitter">
                        <a class="twitter-timeline" href="https://twitter.com/SunflowerTheme" data-widget-id="409933315160829952">Tweets by @SunflowerTheme</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                </div>
                <!-- End Tweet Widget-->
            </aside>
            <!-- End More info sidebar-->

            <!-- Begin Main sidebar-->
            <aside id="main-sidebar" class="covered">
                <!-- Begin of logo-->
                <div class="logo-container">
                    <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                    <a class="logo" href="index.html">
                        <!-- Change src="LINK_TO_LOGO_IMAGE"-->
                        <img src="assets/img/logo.png" alt="Dragonfly" title="Dragonfly"/>
                    </a>
                </div>
                <!-- End of logo-->
                <div class="sidebar-wrap">
                    <div class="sidebar-menu-container">
                        <!-- Begin intro text-->
                        <div class="intro">
                            <p>
                                You're in! Nice. We've put together a little post to introduce you to the Ghost editor and get you started. <!-- Change intro text here-->
                            </p>
                        </div>
                        <!-- End intro text-->
                        <!-- Begin of mobile menu button-->
                        <a id="mobile-menu" class="btn btn-theme collapsed" data-toggle="collapse" data-target=".main-nav">
                            <span>
                                Navigation <!-- You can change text of mobile menu button here-->
                            </span>
                            <i class="fa fa-tasks"></i> <!-- Also you can change icon if mobile menu button here-->
                        </a>
                        <!-- End of mobile menu button-->
                        <!-- Begin of main menu-->
                        <ul class="nav main-nav collapse navbar-collapse">
                            <!-- Begin of one menu item
                                    - Add class="has-sub" if this menu item has sub menu-->
                            <li class="has-sub">
                                <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                <a href="#">
                                    Home <!-- Change text of menu here-->
                                    <span class="caret"></span> <!-- Add this code block if this menu has sub-->
                                </a>
                                <!-- Begin of sub menu-->
                                <ul class="dropdown-menu">
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="index.html">
                                            Home Standard Style <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="index-with-filter.html">
                                            Home With Filter <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="index-gallery-style.html">
                                            Home Gallery Style <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="index-simple-style.html">
                                            Home Simple Style <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                </ul>
                                <!-- End of sub menu-->
                            </li>
                            <!-- End of one menu item-->
                            <!-- Begin of one menu item
                                    - Add class="has-sub" if this menu item has sub menu-->
                            <li>
                                <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                <a href="profile.html">
                                    My Profile <!-- Change text of menu here-->
                                </a>
                            </li>
                            <!-- End of one menu item-->
                            <!-- Begin of one menu item
                                    - Add class="has-sub active" if this menu item has sub menu and active item-->
                            <li  class="has-sub">
                                <a href="#">
                                    Portfolio <!-- Change text of menu here-->
                                    <span class="caret"></span> <!-- Add this code block if this menu has sub-->
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- Begin of one sub menu item
                                            -Add class="active" if this item is current page -->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="portfolio-2cols.html">
                                            Portfolio 2 Columns <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="portfolio-3cols.html">
                                            Portfolio 3 Columns <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="portfolio-4cols.html">
                                            Portfolio 4 Columns <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="portfolio-single-default.html">
                                            Portfolio Single Default <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="portfolio-single-gallery.html">
                                            Portfolio Single Gallery <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="portfolio-single-video.html">
                                            Portfolio Single Video <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                </ul>
                            </li>
                            <!-- End of one menu item-->
                            <!-- Begin of one menu item
                                    - Add class="has-sub" if this menu item has sub menu-->
                            <li  class="has-sub active">
                                <a href="#">
                                    Pages <!-- Change text of item here-->
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li class="active">
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="post-single-default.html">
                                            Post Single Default <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="post-single-audio.html">
                                            Post Single Audio <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="post-single-video.html">
                                            Post Single Video <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="post-single-gallery.html">
                                            Post Single Gallery <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="short-codes.html">
                                            Short Codes <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                    <!-- Begin of one sub menu item-->
                                    <li>
                                        <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                        <a href="404.html">
                                            404 Page <!-- Change text of sub menu here-->
                                        </a>
                                    </li>
                                    <!-- End of one sub menu item-->
                                </ul>
                            </li>
                            <!-- End of one menu item-->
                            <!-- Begin of one menu item
                                    - Add class="has-sub" if this menu item has sub menu-->
                            <li>
                                <!-- Change href="URL_OF_PAGE_YOU_TO_LINK"-->
                                <a href="get-in-touch.html">
                                    Get In Touch <!-- Change text of item here-->
                                </a>
                            </li>
                            <!-- End of one menu item-->
                        </ul>
                        <!-- End of main menu-->
                    </div>
                    <div class="sidebar-bottom-container">
                        <!-- Begin of social icons area-->
                        <div class="bottom-social">
                            <ul class="social">
                                <!-- Begin of icon
                                        - Change class="TYPE_OF_SOCIAL_ICON"
                                -->
                                <li class="twitter">
                                    <!-- Change href="LINK_TO_YOUR_SOCIAL_ICON"-->
                                    <a href="#" target="_blank" title="Twitter">
                                        <i class="fa fa-twitter"></i>  <!-- Change social icon here-->
                                    </a>
                                </li>
                                <!-- End of icon-->

                                <!-- Begin of icon
                                        - Change class="TYPE_OF_SOCIAL_ICON"
                                -->
                                <li class="facebook">
                                    <!-- Change href="LINK_TO_YOUR_SOCIAL_ICON"-->
                                    <a href="#" target="_blank" title="Facebook">
                                        <i class="fa fa-facebook"></i>  <!-- Change social icon here-->
                                    </a>
                                </li>
                                <!-- End of icon-->

                                <!-- Begin of icon
                                        - Change class="TYPE_OF_SOCIAL_ICON"
                                -->
                                <li class="google">
                                    <!-- Change href="LINK_TO_YOUR_SOCIAL_ICON"-->
                                    <a href="#" target="_blank" title="Google">
                                        <i class="fa fa-google-plus"></i>  <!-- Change social icon here-->
                                    </a>
                                </li>
                                <!-- End of icon-->

                                <!-- Begin of icon
                                        - Change class="TYPE_OF_SOCIAL_ICON"
                                -->
                                <li class="linkedin">
                                    <!-- Change href="LINK_TO_YOUR_SOCIAL_ICON"-->
                                    <a href="#" target="_blank" title="Linkedin">
                                        <i class="fa fa-linkedin"></i>  <!-- Change social icon here-->
                                    </a>
                                </li>
                                <!-- End of icon-->

                                <!-- Begin of icon
                                        - Change class="TYPE_OF_SOCIAL_ICON"
                                -->
                                <li class="skype">
                                    <!-- Change href="LINK_TO_YOUR_SOCIAL_ICON"-->
                                    <a href="#" target="_blank" title="Skype">
                                        <i class="fa fa-skype"></i>  <!-- Change social icon here-->
                                    </a>
                                </li>
                                <!-- End of icon-->

                                <!-- Begin of icon
                                        - Change class="TYPE_OF_SOCIAL_ICON"
                                -->
                                <li class="rss">
                                    <!-- Change href="LINK_TO_YOUR_SOCIAL_ICON"-->
                                    <a href="/rss/" target="_blank" title="Rss Feed">
                                        <i class="fa fa-rss"></i> <!-- Change social icon here-->
                                    </a>
                                </li>
                                <!-- End of icon-->
                            </ul>
                        </div>
                        <!-- End of social icons area-->

                        <!-- Begin of copyright area-->
                        <div class="copyright">
                            Copyright &copy; 2014
                            <a href="/">Dragonfly</a>
                            <br/>
                            All rights reserved.
                        </div>
                        <!-- End of copyright area-->
                    </div>
                </div>
            </aside>
            <!-- End Main sidebar-->
            <div id="main-content">
                <!-- Begin Post Header-->
                <div class="post-header">
                    <div class="pull-left post-title">
                        <h2>
                            Post Single Default <!-- Change post title here-->
                        </h2>
                    </div>
                    <div class="pull-right post-tools">
                        <!-- Begin search box-->
                        <div class="search-box">
                            <a id="btn-search" class="btn btn-theme">
                                <span>Search</span> <i class="fa fa-search"></i>
                            </a>
                            <div class="search-form">
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="search-keyword" placeholder="Enter keyword"/>
                                    </div>
                                </form>
                                <div id="search-result">

                                </div>
                            </div>
                        </div>
                        <!-- End search box-->
                        <!-- Begin share buttons-->
                        <div class="share-box">
                            <a id="btn-share" href="javascript:;" class="btn btn-theme">
                                Share <span class="caret"></span>
                            </a>
                            <div class="share-box-content">
                                <ul class="social active">
                                    <li class="twitter">
                                        <!-- Change href="LINK_TO_SHARE_ON_TWITTER"-->
                                        <a href="#" title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="facebook">
                                        <!-- Change href="LINK_TO_SHARE_ON_FACEBOOK"-->
                                        <a href="#" title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="google">
                                        <!-- Change href="LINK_TO_SHARE_ON_GOOGLE_PLUS"-->
                                        <a href="#" title="Google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li class="linkedin">
                                        <!-- Change href="LINK_TO_SHARE_ON_LINKEDIN"-->
                                        <a href="#" target="_blank" title="Linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End share buttons-->
                        <!-- Begin comment button-->
                        <a id="turncomment" href="javascript:;" class="btn btn-theme">
                            <i class="fa fa-comments-o"></i>
                            <span class="disqus-comment-count">3 Comments</span>
                        </a>
                        <!-- End comment button-->
                    </div>
                </div>
                <!-- End Post Header-->
                <!-- Begin Post Content-->
                <main class="body-content" role="main">
                    <div class="post-wrap">
                        <article class="post">
                            <!-- Begin post content-->
                            <section class="post-content">
                                <div class="post-image-wrap full-col">
                                    <img src="assets/img/post-demo.gif" alt="Post title here" />
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur volutpat vehicula sodales. Nunc eget ante aliquet, congue lectus eu, pretium nisi. Morbi semper nec nisl iaculis luctus. Phasellus vitae tincidunt quam. Sed vitae vestibulum est. Donec elementum ipsum id justo dictum semper. Sed consequat est vel sagittis posuere. Praesent tempor auctor ante, id tristique ante laoreet in. Donec placerat ligula a mi auctor, in feugiat ligula pellentesque. Suspendisse potenti.
                                </p>
                                <p>
                                    In sit amet nisl vulputate, dignissim lacus nec, pulvinar sapien. Maecenas vitae malesuada est, at adipiscing dolor. Pellentesque rhoncus nulla tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent et leo sit amet erat tempus ultrices. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean hendrerit turpis at turpis pulvinar, a suscipit massa ultrices. Etiam sapien sem, mattis non vehicula nec, euismod sit amet est. Aliquam erat volutpat. Quisque in enim quis metus dignissim sagittis vel ac nulla. Vivamus pulvinar pulvinar dui, id elementum quam tristique ac. Nam ut ante in quam interdum mollis. Etiam ac massa vel enim volutpat hendrerit eget non felis.
                                </p>
                                <p>
                                    Duis nec lectus eros. Suspendisse blandit porttitor tellus quis eleifend. Pellentesque dolor turpis, eleifend ac massa quis, hendrerit aliquet felis. Suspendisse ut justo nisi. Duis tincidunt turpis non ante condimentum, feugiat rutrum nibh porttitor. Donec ac augue augue. Nunc aliquam libero lobortis posuere scelerisque. Etiam mollis nisl in ipsum ultrices sodales. Vivamus turpis odio, elementum sed condimentum a, accumsan vel risus.
                                </p>
                                <p>
                                    Fusce rhoncus enim ac varius placerat. Donec vel ante quis nisl condimentum rutrum. Quisque varius venenatis mi, vel rhoncus metus lacinia non. Nulla leo dui, venenatis et porta eu, suscipit sed tellus. In hac habitasse platea dictumst. Aenean ultrices ultricies quam rutrum condimentum. Sed eu magna in magna elementum posuere quis ac nisl.
                                </p>
                                <p>
                                    Curabitur dignissim ac urna ac luctus. Maecenas et fermentum elit. Vestibulum ut orci venenatis nibh consequat vulputate a ac tortor. Duis sed lobortis leo. Nunc ac orci nec enim vulputate ornare a nec est. Nullam porttitor ultricies purus, vitae aliquam sem interdum eget. Pellentesque sed nibh vitae lorem rutrum hendrerit et non lorem.
                                </p>
                                <blockquote>
                                    <p>
                                        Nam vitae purus ac lectus hendrerit bibendum at bibendum lectus. Quisque a neque enim. Donec viverra lorem sed neque vehicula aliquet. Pellentesque arcu urna, volutpat non porta et, sagittis ac tortor. Integer fermentum sagittis placerat. Aenean fermentum augue ultricies magna interdum pulvinar. Quisque eleifend diam at consequat sollicitudin.
                                    </p>
                                </blockquote>

                                <p>
                                    Aliquam mattis pulvinar ligula tincidunt cursus. Nam porttitor at tortor vitae malesuada. Proin porta dui neque, id venenatis leo dignissim ac. Nulla nec lectus sit amet leo interdum ullamcorper. Fusce a enim in tortor feugiat porta ac eu neque. Vestibulum id sem at enim luctus dictum et in lorem. Nunc posuere tincidunt malesuada. Nulla interdum turpis in erat imperdiet vulputate. Sed suscipit consequat lectus in bibendum.
                                </p>

                                <p>
                                    Nam sit amet neque sed nunc rhoncus faucibus. Nullam viverra sapien sed sapien viverra, eu sagittis quam semper. Duis sollicitudin vestibulum est, id convallis turpis egestas eu. Quisque tempor magna eu velit tincidunt mattis. Cras et nisi quis ligula tristique malesuada. Fusce vitae aliquet dui. Fusce hendrerit nibh in porttitor imperdiet. Mauris condimentum tortor vel pulvinar dapibus. Aenean urna nisl, egestas vel sapien nec, cursus iaculis sem.
                                </p>

                                <p>
                                    Fusce ut mauris congue, congue lectus eget, rhoncus erat. Integer dignissim dignissim felis, bibendum tempus odio lobortis feugiat. Aliquam vehicula, eros non fermentum facilisis, dolor arcu pellentesque mauris, ut mollis risus lorem vitae dui. Integer dictum mauris at mauris pellentesque, in lacinia ipsum aliquam. Morbi nisi urna, fermentum in placerat in, consequat et ligula. Suspendisse eu luctus arcu. In pulvinar augue sed sem mollis, id lobortis neque luctus.
                                </p>

                                <p>
                                    Nam fermentum porta dui, non eleifend nisl condimentum in. In suscipit mi sed dictum gravida. Sed at nulla non tellus mattis congue vitae iaculis risus. Maecenas nibh velit, laoreet quis orci eget, convallis placerat elit. Sed scelerisque dapibus imperdiet. Nam est mi, pellentesque in tincidunt malesuada, vulputate nec magna. Suspendisse eget neque a tellus lobortis auctor ut a augue. Nulla semper ligula sit amet facilisis porta. Mauris volutpat libero ut tellus pharetra, in luctus quam eleifend. Morbi lobortis a felis eu lacinia. Vestibulum id condimentum ante. Nunc neque neque, ultricies id tortor eget, feugiat iaculis ligula. Vivamus magna nisl, eleifend et erat scelerisque, pulvinar auctor elit.
                                </p>
                            </section>
                            <!-- End post content -->
                            <!-- Begin post meta-->
                            <footer class="post-footer">
                                <div class="post-meta">
                                    <!-- Begin publish date-->
                                    <span>
                                        <i class="fa fa-calendar"></i>
                                        <!-- Change publish date here-->
                                        <time datetime="2013-12-17">17 Dec 2013</time>
                                    </span>
                                    <!-- End publish date-->
                                    <!-- Begin post author-->
                                    <span>
                                        <i class="fa fa-user"></i>
                                        by Chirox Pham <!-- Change post author name here-->
                                    </span>
                                    <!-- End post author-->
                                    <!-- Begin post tags-->
                                    <span>
                                        <i class="fa fa-tags"></i>
                                        shortcode | Hele
                                    </span>
                                    <!-- End post tags-->
                                    <!-- Begin share buttons-->
                                    <span class="share">
                                        <span class="title">Share this post:</span>
                                        <ul class="social active">
                                            <li class="twitter">
                                                <a href="#" title="Twitter">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="facebook">
                                                <a href="#" title="Facebook">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="google">
                                                <a href="#" title="Google">
                                                    <i class="fa fa-google-plus"></i>
                                                </a>
                                            </li>
                                            <li class="linkedin">
                                                <a href="#" target="_blank" title="Linkedin">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </span>
                                    <!-- End share buttons-->
                                </div>
                                <!-- Begin Author info-->
                                <div class="post-author">
                                    <!-- Author avatar -->
                                    <div class="avatar">
                                        <img src="assets/img/avatar-demo.gif" alt="Author name here" />
                                    </div>
                                    <h5 class="author-name">
                                        Chirox Pham <!-- Change author name here-->
                                    </h5>
                                    <p>
                                        <!-- Change author BIO here-->
                                        Etiam volutpat feugiat massa non pretium. Integer risus sem, consequat id feugiat ac, placerat tristique sem. Donec vitae felis id lorem imperdiet vestibulum bibendum in mauris.
                                    </p>
                                </div>
                                <!-- End Author info-->
                            </footer>
                            <!-- End post meta-->
                        </article>
                    </div>
                </main>
                <!-- End Post Content-->
            </div>
            <!-- Begin Comment Box-->
            <div class="comment-box">
                <div class="wrap">
                    <h4 class="box-title">
                        3 Comments <!-- Change comment count here-->
                    </h4>
                    <ul class="comment-list">
                        <!-- Begin of one comment-->
                        <li>
                            <div class="avatar">
                                <img src="assets/img/avatar-demo.gif" alt="Author here" />
                            </div>
                            <div class="comment-detail">
                                <div class="comment-meta">
                                    <span class="name">
                                        John Doe <!-- Change commenter here-->
                                    </span>
                                    <span class="time">
                                        2 days ago <!-- Change time here-->
                                    </span>
                                </div>
                                <div class="comment-content">
                                    <!-- Change comment content here-->
                                    Etiam volutpat feugiat massa non pretium. Integer risus sem, consequat
                                </div>
                                <!-- Begin of comment tools-->
                                <div class="comment-tools">
                                    <a class="vote" href="#">
                                        <i class="fa fa-thumbs-o-up"></i> 10
                                    </a>
                                    <a class="vote" href="#">
                                        <i class="fa fa-thumbs-o-down"></i> 2
                                    </a>
                                    <a class="reply" href="#">
                                        Reply
                                    </a>
                                    <a class="share" href="#">
                                        Share
                                    </a>
                                </div>
                                <!-- End of comment tools-->
                            </div>
                        </li>
                        <!-- End of one comment-->
                        <!-- Begin of one comment-->
                        <li>
                            <div class="avatar">
                                <img src="assets/img/avatar-demo.gif" alt="Author here" />
                            </div>
                            <div class="comment-detail">
                                <div class="comment-meta">
                                    <span class="name">
                                        John Doe <!-- Change commenter here-->
                                    </span>
                                    <span class="time">
                                        2 days ago <!-- Change time here-->
                                    </span>
                                </div>
                                <div class="comment-content">
                                    <!-- Change comment content here-->
                                    Etiam volutpat feugiat massa non pretium. Integer risus sem, consequat
                                </div>
                                <!-- Begin of comment tools-->
                                <div class="comment-tools">
                                    <a class="vote" href="#">
                                        <i class="fa fa-thumbs-o-up"></i> 10
                                    </a>
                                    <a class="vote" href="#">
                                        <i class="fa fa-thumbs-o-down"></i> 2
                                    </a>
                                    <a class="reply" href="#">
                                        Reply
                                    </a>
                                    <a class="share" href="#">
                                        Share
                                    </a>
                                </div>
                                <!-- End of comment tools-->
                            </div>
                        </li>
                        <!-- End of one comment-->
                        <!-- Begin of one comment-->
                        <li>
                            <div class="avatar">
                                <img src="assets/img/avatar-demo.gif" alt="Author here" />
                            </div>
                            <div class="comment-detail">
                                <div class="comment-meta">
                                    <span class="name">
                                        John Doe <!-- Change commenter here-->
                                    </span>
                                    <span class="time">
                                        2 days ago <!-- Change time here-->
                                    </span>
                                </div>
                                <div class="comment-content">
                                    <!-- Change comment content here-->
                                    Etiam volutpat feugiat massa non pretium. Integer risus sem, consequat
                                </div>
                                <!-- Begin of comment tools-->
                                <div class="comment-tools">
                                    <a class="vote" href="#">
                                        <i class="fa fa-thumbs-o-up"></i> 10
                                    </a>
                                    <a class="vote" href="#">
                                        <i class="fa fa-thumbs-o-down"></i> 2
                                    </a>
                                    <a class="reply" href="#">
                                        Reply
                                    </a>
                                    <a class="share" href="#">
                                        Share
                                    </a>
                                </div>
                                <!-- End of comment tools-->
                            </div>
                        </li>
                        <!-- End of one comment-->
                    </ul>
                    <!-- Begin comment form-->
                    <div class="comment-form-box">
                        <h4 class="box-title">Leave a comment</h4>
                        <form class="form-horizontal comment-form" role="form">
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-first">
                                    <input type="text" class="form-control" name="yourname" placeholder="Your Name">
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-last">
                                    <input type="email" class="form-control" name="youremail" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <textarea class="form-control" name="comment" rows="3" placeholder="Your Comment ..."></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                    <button type="submit" class="btn btn-theme">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- End comment form-->
                </div>
            </div>
            <!-- End comment box-->
        </div>
        <!-- Begin of all required javascript for this template-->
        <script type="text/javascript" src="assets/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.easing.1.3.js" ></script>
        <script type="text/javascript" src="assets/js/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.isotope.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.isotope.perfectmasonry.js"></script>
        <script type="text/javascript" src="assets/js/jquery.infinitescroll.js"></script>
        <script type="text/javascript" src="assets/js/owl.carousel.min.js" ></script>
        <script type="text/javascript" src="assets/js/jquery.fitvids.js"></script>
        <script type="text/javascript" src="assets/js/jquery.flickr.js"></script>
        <script type="text/javascript" src="assets/js/jquery.instagram.js"></script>
        <script type="text/javascript" src="assets/js/jribbble.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap-multiselect.js"></script>
        <script type="text/javascript" src="assets/js/jqBootstrapValidation.js"></script>
        <script type="text/javascript" src="assets/js/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="assets/js/sscr.js"></script>
        <script type="text/javascript" src="assets/js/jquery.nicescroll.min.js"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
        <script type="text/javascript" src="assets/js/config.js"></script>
        <script type="text/javascript" src="assets/js/main.js"></script>
        <!-- End of all required javascript for this template-->
    </body>
</html>