| Ďakujem Vám za Váš e-mail. Budem sa snažiť Vás kontaktovať čo najskôr.
br
| Keby ste chceli k svojej správe ešte niečo dopísať, využite, prosím, tlačidlo "Odpovedať" ("Reply").
br
br
| S pozdravom,
br
br
| Heňa
br
br
| +421 918 299 613
br
a href="http://dornovka.sk/" www.dornovka.sk
br
br
br
strong Vaša správa:
= simple_format @contact.message