

.tabs {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 1em 0 2em;
	font-weight: 300;
}

/* Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}

.tabs nav ul li {
	border: 1px solid #becbd2;
	border-bottom: none;
	margin: 0 0.25em;
	display: block;
	float: left;
	position: relative;
}

.tabs nav li.tab-current {
	border: 1px solid #5996d5;
	box-shadow: inset 0 5px #5996d5;
	border-bottom: none;
	//z-index: 100;
	color: red;
}

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
	content: '';
	position: absolute;
	height: 1px;
	right: 100%;
	bottom: 0;
	width: 4000px;
	background: #47a3da;
}

.tabs nav li.tab-current:after {
	right: auto;
	left: 100%;
	width: 4000px;
}

.tabs nav a {
	color: #becbd2;
	display: block;
	font-size: 1.45em;
	line-height: 2.5;
	padding: 2px 10px;
	white-space: nowrap;
}

.about nav a {
	color: #becbd2;
	display: block;
	font-size: 1.45em;
	line-height: 2.5;
	padding: 2px 30px;
	white-space: nowrap;
}

.tabs nav a:hover {
	color: #fff;
	text-decoration: none;
}

.tabs nav li.tab-current a {
	color: #47a3da;
}

/* Icons */
.tabs nav a:before {
	display: inline-block;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	margin: -0.25em 0.4em 0 0;
}

/* Content */
.content section {
	font-size: 1.25em;
	padding: 3em 1em;
	display: none;
	//max-width: 1230px;
	margin: 0 auto;
}

.content section:before,
.content section:after {
	content: '';
	display: table;
}

.content section:after {
	clear: both;
}

/* Fallback example */
.no-js .content section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid #47a3da;
}

.content section.content-current {
	display: block;
}

.mediabox {
	float: left;
	width: 33.33%;
	padding: 0 8px;
}

.mediabox img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.mediabox h3 {
	margin: 0.75em 0 0.5em;
}

.mediabox p {
	padding: 0 0 1em 0;
	margin: 0;
	line-height: 1.3;
}

/* Example media queries */
@media screen and (max-width: 1273px) {
	.tabs nav i {
	  display: none;
	}
	.about nav i {
	  display: inline;
	}
}


@media only screen and (min-width: 1055px) and (max-width: 1275px) {
	.tabs nav a {
	  padding: 0 10px 0 10px;
	}
	.about nav a {
	  padding: 2px 30px;
	}
}

@media only screen and (min-width: 980px) and (max-width: 1054px) {
	.tabs nav a {
	  padding: 0 5px 0 5px;
	}
	.about nav a {
	  padding: 2px 30px;
	}
}

@media only screen and (min-width: 838px) and (max-width: 979px) {
	.tabs nav a {
	  padding: 0 10px 0 10px;
	}
	.about nav a {
	  padding: 2px 30px;
	}
}

/* 838px*/
@media screen and (max-width: 52.375em) {
	.tabs nav a span {
		display: none;
	}
	.about nav a span {
		display: inline;
	}

	.tabs nav a:before {
		margin-right: 0;
	}

	.mediabox {
		float: none;
		width: auto;
		padding: 0 0 20px 0;
		text-align: center;
	}

	.mediabox img {
		float: none;
		margin: 0 auto;
		max-width: 100%;
	}

	.mediabox h3 {
		margin-top: 0;
	}

	.mediabox p {
		margin-left: 40%;
		margin-left: calc(40% + 25px);
	}

	.mediabox:before,
	.mediabox:after {
		content: '';
		display: table;
	}

	.mediabox:after {
		clear: both;
	}

	.tab-short {
		display: block;
	}

	.tabs nav a {
		padding: 10px 20px;
	}

	.about nav a {
		padding: 2px 30px;
	}
}

@media screen and (max-width: 630px) {
	.about nav a {
		padding: 2px 15px;
	}
}

/*512px*/
@media screen and (max-width: 32em) {
	.about nav a span {
		display: none;
	}

	.about nav a {
		padding: 2px 20px;
	}

	.mediabox {
		text-align: center;
	}

	.mediabox img {
		float: none;
		margin: 0 auto;
		max-width: 100%;
	}

	.mediabox h3 {
		margin: 1.25em 0 1em;
		font-size: 20px;
	}

	.mediabox p {
		margin: 0;
	}

	.tabs nav a {
		padding: 10px 10px;
	}

	.about nav a {
		padding: 2px 30px;
	}
}

@media screen and (max-width: 1146px) {

	.mediabox h3 {
		font-size: 14px;
		font-weight: bold;
	}
}

@media screen and (min-width: 513px) and (max-width: 577px) {
	.tabs nav a {
		padding: 10px 10px;
	}
	.about nav a {
		padding: 2px 15px;
	}
}