.partner {
  width: auto;
  vertical-align: middle;
  text-align: left;
  padding: 0 0 5px 0;
  line-height: 1.4;
}

.partner_name {
  font-weight: bold;
}

.centerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0 5px 0;
}