.partner {
  text-align: left;
}

.partner_name {
  font-weight: bold;
}

.centerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0 5px 0;
}

.footer_background {
  background: #bce8f1
}